@tailwind base;
@tailwind components;
@tailwind utilities;


html{
  padding: 0px;
  margin: 0px;
}
#root {
 
  margin: 0 auto;
  text-align: center;
}


.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.suggSection{
  display: inline;
  flex-direction: column;
  width: 160px;
margin: 1px;
}
.sugImg{
  width: 120px;
}

.warrning{
color: rgb(255, 255, 255);
font-size: 11px;
}
.warrinfo{
  font-size: 11px;
}
.loaderr1{
  margin: auto;
}

.playerr{
  display: block;
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
margin: 0px;
padding: 0px;
margin-right: 220px;
  

}
.appBox{
  padding: 0px;
  margin: 0px;
}

.Foootor{
  margin-bottom: 120px;
}

